<app-success-message></app-success-message>
<app-failure-message></app-failure-message>

<button
  class="btn btn-primary"
  [disabled]="isClickDisabled"
  (click)="onButtonClick()"
>
  Click Me
</button>

<p>{{ statusButtonClick }}</p>

<input
  type="text"
  class="form-control"
  placeholder="Enter your name | single way binding"
  (input)="handleSingleWayBindingNameInput($event)"
/>
<h2>Hello, {{ singleWayBindingName }}</h2>

<input
  type="text"
  class="form-control"
  placeholder="Enter your name | two way binding"
  [(ngModel)]="twoWayBindingName"
/>
<h2>Hello, {{ twoWayBindingName }}</h2>

<input
  type="text"
  class="form-control"
  placeholder="Enter your username"
  (input)="handleUsername($event)"
/>
<button
  class="btn btn-success"
  (click)="onLoginButtonClick()"
  [disabled]="username === ''"
>
  Login
</button>
<h2 *ngIf="isUserLogin">Hello, Logged in as {{ username }}</h2>
